<div class="bg-white p-4 shadow-sm rounded mb-3" style="max-width: 600px;">
  <h1>Dados do perfil</h1>
  <% if @user.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(url: users_backoffice_profile_path,local: true, model: @user) do |form| %>
  <div class="row">
    <div class="mb-3 col">
      <%= form.label :first_name, class: 'form-label'%>
      <%= form.text_field :first_name, class: 'form-control'%>
    </div>
    <div class="mb-3 col">
      <%= form.label :last_name, class: 'form-label'%>
      <%= form.text_field :last_name, class: 'form-control'%>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :email, class: 'form-label'%>
    <%= form.text_field :email, class: 'form-control'%>
  </div>

  <%= form.fields_for :user_profile do |profile_form|%>
    <div class="mb-3">
      <%= profile_form.label :address, class: 'form-label'%>
      <%= profile_form.text_field :address, class: 'form-control'%>
    </div>

    <div class="mb-3">
        <%= profile_form.label :gender, class: 'form-check-label', style: 'display: block;'%>
        <div class="d-flex">
          <div class="form-check mr-2">
            <%= profile_form.radio_button :gender, 'masculino', class: 'form-check-input'%>
            <%=profile_form.label :gender, 'masculino', class: 'form-check-label'%>
          </div>
          <div class="form-check">
            <%= profile_form.radio_button :gender, 'feminino', class: 'form-check-input'%>
            <%=profile_form.label :gender, 'feminino', class: 'form-checklabel'%>
          </div>
        </div>
    </div>

    <div class="mb-3">
      <%= profile_form.label :birthdate, class: 'form-label'%>
      <%= profile_form.date_field :birthdate,value: I18n.l(@user.user_profile.birthdate), class: 'form-control date-picker'%>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :password, class: 'form-label'%>
    <%= form.password_field :password ,class: 'form-control'%>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation ,class: 'form-label'%>
    <%= form.password_field :password_confirmation, class: 'form-control'%>
  </div>
  <%= form.submit 'Enviar', class: 'btn btn-primary'%>
<% end %>
</div>