<%= render 'shared/header'%>
<div class="container px-5">
  <% if params[:term] %>
    <h2 class="my-4">Resultado para o termo pesquisado: <%= params[:term]%></h2>
    <% else %>
    <h2 class="my-4">Ultimas Perguntas...</h2>
  <% end %>
  <% @questions.each do |question|%>
    <%= form_with url: site_answer_path, local: true do |form|%>
      <div class="mb-5 border rounded">
        <div class="bg-dark p-3 mb-2 text-white-50">
          <h2 class="lead"><%= question.description%></h2>
        </div>
        <div class="p-3">
          <% question.answers.each do |answer| %>
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer', answer.id%>
                  <%= answer.description%>
                </label>
              </div>
            <% end %>
            <div class="my-2">
              <%= form.submit 'responder', class: 'btn btn-sm btn-primary' %>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= paginate @questions%>
  </div>
</div>